:root{
    --bg-body: #083b4c;
    --bg-blue: #1389b2;
    --bg-green: #0cd6a1;
    --bg-yellow: #ffd166;
    --bg-red: #f0466f;
}


body{
    background-color: var(--bg-body);
    overflow-x: hidden;
}

.myCard{
    width: 8vw;
    height: 8vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    margin: 10px;
    background-color: red;
    font-size: 2em;
    font-weight: bold;
}

.green{
    background-color: var(--bg-green);
}

.yellow{
    background-color: var(--bg-yellow);
}

.blue{
    background-color: var(--bg-blue);
}

.red{
    background-color: var(--bg-red);
}

#ropeContainer{
    height: 300px;
    padding: 0;
    
}

.rope{
    background-color: white;
    height: 100%;
    width: 10px;
}

#hangingBorder{
    border: 1px solid white;
     
     
}

.rotateRight{
    transform-origin: top left; 
    animation: rotateClockwise 5s;
    transform: rotate(90deg);
}


@keyframes rotateClockwise {
    0%{ transform: rotate(0deg);}
    25%{ transform: rotate(120deg);}
    50%{ transform: rotate(73deg);}
    75%{ transform: rotate(95deg);}
    100%{ transform: rotate(90deg);}

}


.rotateLeft{
    transform-origin: top right; 
    animation: rotateAntiClockwise 5s;
    transform: rotate(-90deg);
}

@keyframes rotateAntiClockwise {
    0%{ transform: rotate(0deg);}
    25%{ transform: rotate(-120deg);}
    50%{ transform: rotate(-73deg);}
    75%{ transform: rotate(-95deg);}
    100%{ transform: rotate(-90deg);}

}

#restart{
    display: none;
}
