:root{
    --bg-body: #083b4c;
    --bg-blue: #1389b2;
    --bg-green: #0cd6a1;
    --bg-yellow: #ffd166;
    --bg-red: #f0466f;
}


body{
    background-color: var(--bg-body);
}

.myCard{
    width: 8vw;
    height: 8vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    margin: 10px;
    background-color: red;
    font-size: 2em;
    font-weight: bold;
}

.green{
    background-color: var(--bg-green);
}

.yellow{
    background-color: var(--bg-yellow);
}

.blue{
    background-color: var(--bg-blue);
}

.red{
    background-color: var(--bg-red);
}

.ropeContainer{
    height: 300px;
    
}

.rope{
    background-color: white;
    height: 100%;
    width: 10px;
}

#hangingBorder{
    border: 1px solid white;
}